<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Testing..." parallel="none" thread-count="1">

    <parameter name="city" value="New York"/>
    <parameter name="adults"  value="2"/>

    <listeners>
        <listener class-name="com.expedia.automation.listeners.SuiteListener" />
        <listener class-name="com.expedia.automation.listeners.TestListener" />
        <listener class-name="com.expedia.automation.listeners.AnnotationTransformer" />
    </listeners>
        <test name="ExpediaFull" preserve-order = "true">
          <groups>
            <run>
                <include name="test"/>
            </run>
        </groups>
        <classes>
            <class name="com.expedia.automation.tests.myaccount.MyAccountTests" />
        </classes>
       </test>
    <test name="WebPlayer">
        <groups>
            <run>

            </run>
        </groups>
        <classes>
            <class name="web.player.tests.closed.captions.ClosedCaptioning" />
            <class name="web.player.tests.gui.GuiTests" />
            <class name="web.player.tests.share.ShareModuleTests" />
            <class name="web.player.tests.gui.Scrubbing" />
        </classes>
    </test>

</suite>





